.border1{
  border:1px solid black;
  width: 700px;
  height: 190px;
  margin-top: 100px;

}
.sidespace{
  margin-left: 100px;
  width: 1000px;
}
.nav-side{
  margin-left: 1200px;
}





/* navbar 2 */

.nav-new{
  display:inline-block;
}
.nav-new a{
  margin-left: 50px;
}
.nav-side2{
  margin-left: 70px;
}